<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Shop{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<div id="total_page">
		<header id="header">
			<a href="/" class="logo">My shop</a>
		</header>
		<div id="subheader">
			<div class="cart">
				{% with cart_length=cart|length %}
					{% if cart_length > 0 %}
						Your cart:
						<a href="{% url 'cart:detail' %}">
							{{ cart_length }} cart{{ cart_length|pluralize }}
							${{ cart.get_total_price }}
						</a>
					{% elif not order_id %}
						Your cart is empty.
					{% endif %}
				{% endwith %}
			</div>
		</div>
		<main>
			{% block content %}
			{% endblock %}
		</main>
	</div>
</body>
</html>